<div{{ attributes.addClass('button-group') }}>
  {% for child in children %}
    {% set item = attribute(element, child) %}
    {% set item = item|merge(
			{'#attributes':
				{'class': ['button', child == 'node' ? 'slice' : child ]}
			}
		) %}
    {% if child in selected %}
      {% set item = item|merge({'#attributes': {'class': 'is-active'}}) %}
    {% endif %}

    {{ item }}
  {% endfor %}
</div>
