{#
/**
 * @file
 * Default theme implementation of a datetime form wrapper.
 *
 * Available variables:
 * - content: The form element to be output, usually a datelist, or datetime.
 * - title: The title of the form element.
 * - title_attributes: HTML attributes for the title wrapper.
 * - description: Description text for the form element.
 * - required: An indicator for whether the associated form element is required.
 *
 * @see template_preprocess_datetime_wrapper()
 *
 * @ingroup themeable
 */
#}
{%
  set title_classes = [
    required ? 'js-form-required',
    required ? 'form-required',
  ]
%}
{% if title %}
	<label{{title_attributes.addClass(title_classes)}}>
		{{ title }}
	</label>
{% endif %}
{{ content }}
{% if errors %}
	<div>
		{{ errors }}
	</div>
{% endif %}
{% if description %}
	<div{{description_attributes}}>
		{{ description }}
	</div>
{% endif %}
