form {
  accent-color: hsl(var(--hue), var(--sat), var(--lum));
}
form:not(:is(.full, .quickedit-field-form)) {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: calc(var(--gap) * 1/3) calc(var(--gap) * 1/2);
  margin-bottom: var(--gap);
}
form:not(:is(.full, .quickedit-field-form)) > details {
  flex: 100%;
}
form label:not(.option) {
  font-size: var(--i);
  margin-bottom: 0.2em;
}
form > .layout.fieldset {
  display: flex;
  flex-wrap: wrap;
  align-items: end;
  gap: var(--gap);
}
