.form-item--error {
  --hue: var(--hue-error);
  --sat: var(--sat-error);
  --lum: var(--lum-error);
}

input.error:not(.button) {
  box-shadow: glow();
  border: var(--border);
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

.form-item--error-message {
  padding: calc(var(--gap) * 1/2);
  font-size: var(--i-s);
  color: hsl(var(--hue), var(--sat), var(--lum));
  background-color: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.5));
}
