[id*=add-more-wrapper] {
  width: 100%;
}
[id*=add-more-wrapper] > fieldset {
  display: block;
}

.item-suf-pref {
  display: flex;
  align-items: center;
}

:is(.field-prefix, .field-suffix) {
  font-size: var(--i);
  margin: 0.3em;
}

input[disabled=true] + label {
  opacity: 0.6;
}
input[hidden=true] + label {
  display: none;
}
input[value^="- Restricted access - "] {
  pointer-events: none;
  color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.5));
}

.fieldset-wrapper {
  display: flex;
  align-items: end;
}
.fieldset-wrapper > .form-item {
  /* &[class$="-max"] {
    // &.js-form-type-date + .js-form-type-date {
    margin-left: 0.4em;
  } */
}
.fieldset-wrapper > .form-item:first-child {
  flex-grow: 1;
}
