@use "color";
@use "gap";
@use "list";
@use "navigation";


ul.js-media-library-menu,
#media-library-add-form-wrapper {
	border-bottom: var(--border);
	border-color: color.apply();
	margin-bottom: 1em;
}

ul.js-media-library-menu {
  @extend %ul-nav-flex;
}

#media-library-add-form-wrapper {
	label,
	.description {
		display: none;
	}
}

#views-exposed-form-media-library-widget {
	gap: unset;
}

.js-media-library-item {

  // @todo This is for Debugging
  border: thick solid transparent;
  &.is-hover,
  &.is-focus {
    border-color: color.apply(warning);
  }
  &.checked {
    border-color: color.apply(status);
  }

  position: relative;
  .js-click-to-select-checkbox {
    position: absolute;
    z-index: 1;
    top: gap.apply(xs);
    left: gap.apply(xs);
  }
}

.js-media-library-add-form-added-media {
  @include list.clean;
}

.js-media-library-widget-toggle-weight {
  --hue: var(--hue-warning);
  --i: var(--i-xs);
}

.js-media-library-views-form {
  .result-group {
    width: 100%
  }
}
