@use "color";
@use "gap";

// reset some 'claro' crap
.media-library-selection {
  margin: unset;
}

// Unrelate Button
.js-media-library-item {
  position: relative;

  >input {
    position: absolute;
    z-index: 1;
    top: 0;
    right: 0;
  }
}

.js-media-library-widget {
  .field-prefix,
  .field-suffix {
    margin: unset;
  }

  .fieldset-wrapper {
    flex-direction: column;
    align-items: normal;
    gap: gap.apply(s);
  }
}

.form-item[class$="-weight"] label {
  display: none;
}
