@use "color";
@use "gap";

.quickedit-field {
  &.quickedit-editable {
    // Thumb friendly min-height
    // min-height: 1cm;

    outline: medium dotted;
    -moz-outline-radius: var(--radius);
    outline-color: color.apply(i, $hue-prefix: null);
    background-color: color.apply(i, $hue-prefix: null, $alpha: 0.14);

    transition: background-color 0.6s ease,
    height 1s ease;

    // Prevent f.e. embeded Videos from being started
    >* {
      pointer-events: none;
    }
  }
}

.contextual-links {
  contain: content;
}

.quickedit-editor-is-popup {
  display: none;
}

.quickedit-form {
  position: inherit;
  max-width: inherit;

  // Targets Loading...
  // @todo better have a class on this <placeholder>
  & > .placeholder:first-child {
    margin-top: 0.2em;
    font-size: 1.6rem;

    text-transform: capitalize;
  }
}

.quickedit-button {
  transition: opacity 0.1s ease;
  opacity: 1;

  &[aria-hidden="true"] {
    visibility: hidden;
    opacity: 0;
  }
}

.quickedit-toolbar-container {
  transition: all 0.5s ease;
}

.quickedit-toolbar-label .field {
  // style like .label-above > label
  display: block;
  margin-bottom: gap.apply(xs);
}

.quickedit-toolbar-content {
  @include color.inject('warning');
  background: color.apply('background-alt', $hue-prefix: null);
  border: thin solid;
  border-color: color.apply();
}

.quickedit-toolbar-entity {
  padding: gap.apply(s);
}

.quickedit-toolbar-field {
  background: white;
}
