@use "gap";

label {
  display: block;

  .label-hidden > & {
    display: none;
  }

  .label-inline > & {
    &::after {
      content: ':';
      margin-right: 0.1em;
    }
    display: inline;
    + .items {
      display: inline;
    }
  }

  .label-above > & {
    margin-bottom: 0.2em;
  }
}
