.skin_layout {
  padding: var(--gap);
  display: grid;
  gap: var(--gap) calc(var(--gap) * 2);
}
@container (width >= 120ch) {
  .skin_layout {
    grid-template-columns: 1fr 1fr;
  }
  .skin_layout > :is(header, fieldset.extra) {
    grid-column: 1/-1;
  }
}
.skin_layout > header {
  display: flex;
  gap: var(--gap);
}
.skin_layout > fieldset {
  border: thin solid;
  border-color: hsl(var(--hue-body), var(--sat-body), var(--lum-body));
  padding: calc(var(--gap) * 1/2);
}
.skin_layout > fieldset legend {
  font-size: var(--h1);
}
.skin_layout .field {
  display: inline-block;
}
.skin_layout .type-color-field-type {
  min-width: 5rem;
}
.skin_layout .form-wrapper {
  display: inline-block;
}
.skin_layout input.form-number {
  max-width: 6rem;
}
