.item {
  display: inline-block;
  position: relative;
}
.item > .js-form-type-checkbox,
.item > .js-click-to-select-checkbox {
  position: absolute;
  bottom: calc(var(--gap) * 1/3);
  right: calc(var(--gap) * 1/3);
  z-index: 1;
}
