.multi {
  gap: var(--gap);
}
.multi.grid {
  display: grid;
}
.multi.flex {
  display: flex;
  flex-wrap: wrap;
}
.multi.flex .contextual-region {
  container-type: normal;
}
.multi.flex.space-around {
  justify-content: space-around;
}
.multi.flex.space-between {
  justify-content: space-between;
}
.multi.flex.space-evenly {
  justify-content: space-evenly;
}
