@use "navigation";

.dropbutton-widget {
    translate: 0 -50%;
    top: 50%;
}

.dropbutton-action a {
    @extend %button;
}

.delete {
    --hue: var(--hue-error);
}

.dropbutton-multiple {
    padding-right: 0;
    margin-right: 5rem;
}
