ul.js-media-library-menu {
  list-style: none;
  padding-inline-start: unset;
  margin: unset;
}
ul.js-media-library-menu a {
  display: block;
  padding: 0.3em 0.5em;
  color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 1.5));
}
ul.js-media-library-menu a i {
  color: hsl(var(--hue), calc(var(--sat-i) * 0.5), var(--lum-i));
}
ul.js-media-library-menu a:is(:hover, :focus, .active, .is-active) {
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
ul.js-media-library-menu a:is(:hover, :focus, .active, .is-active) i {
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

ul.js-media-library-menu {
  display: flex;
  flex-wrap: wrap;
}

ul.js-media-library-menu,
#media-library-add-form-wrapper {
  border-bottom: var(--border);
  border-color: hsl(var(--hue), var(--sat), var(--lum));
  margin-bottom: 1em;
}

#media-library-add-form-wrapper label,
#media-library-add-form-wrapper .description {
  display: none;
}

#views-exposed-form-media-library-widget {
  gap: unset;
}

.js-media-library-item {
  border: thick solid transparent;
  position: relative;
}
.js-media-library-item.is-hover, .js-media-library-item.is-focus {
  border-color: hsl(var(--hue-warning), var(--sat-warning), var(--lum-warning));
}
.js-media-library-item.checked {
  border-color: hsl(var(--hue-status), var(--sat-status), var(--lum-status));
}
.js-media-library-item .js-click-to-select-checkbox {
  position: absolute;
  z-index: 1;
  top: calc(var(--gap) * 1/3);
  left: calc(var(--gap) * 1/3);
}

.js-media-library-add-form-added-media {
  list-style: none;
  padding-inline-start: unset;
  margin: unset;
}

.js-media-library-widget-toggle-weight {
  --hue: var(--hue-warning);
  --i: var(--i-xs);
}

.js-media-library-views-form .result-group {
  width: 100%;
}
