.media-library-selection {
  margin: unset;
}

.js-media-library-item {
  position: relative;
}
.js-media-library-item > input {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
}

.js-media-library-widget .field-prefix,
.js-media-library-widget .field-suffix {
  margin: unset;
}
.js-media-library-widget .fieldset-wrapper {
  flex-direction: column;
  align-items: normal;
  gap: calc(var(--gap) * 1/2);
}

.form-item[class$=-weight] label {
  display: none;
}
