.quickedit-field.quickedit-editable {
  outline: medium dotted;
  -moz-outline-radius: var(--radius);
  outline-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
  background-color: hsl(var(--hue), var(--sat-i), var(--lum-i), 0.14);
  transition: background-color 0.6s ease, height 1s ease;
}
.quickedit-field.quickedit-editable > * {
  pointer-events: none;
}

.contextual-links {
  contain: content;
}

.quickedit-editor-is-popup {
  display: none;
}

.quickedit-form {
  position: inherit;
  max-width: inherit;
}
.quickedit-form > .placeholder:first-child {
  margin-top: 0.2em;
  font-size: 1.6rem;
  text-transform: capitalize;
}

.quickedit-button {
  transition: opacity 0.1s ease;
  opacity: 1;
}
.quickedit-button[aria-hidden=true] {
  visibility: hidden;
  opacity: 0;
}

.quickedit-toolbar-container {
  transition: all 0.5s ease;
}

.quickedit-toolbar-label .field {
  display: block;
  margin-bottom: calc(var(--gap) * 1/3);
}

.quickedit-toolbar-content {
  --hue: var(--hue-warning);
  --sat: var(--sat-warning);
  --lum: var(--lum-warning);
  background: hsl(var(--hue), var(--sat-background-alt), var(--lum-background-alt));
  border: thin solid;
  border-color: hsl(var(--hue), var(--sat), var(--lum));
}

.quickedit-toolbar-entity {
  padding: calc(var(--gap) * 1/2);
}

.quickedit-toolbar-field {
  background: white;
}
