.ui-widget {
  font-family: inherit;
  font-size: var(--i);
}
.ui-widget :is(input, select, textarea, button) {
  font-family: inherit;
  font-size: var(--i);
}

.ui-widget-header {
  background: inherit;
  border: none;
}

.ui-widget.ui-widget-content {
  border: thin solid;
  border-color: hsl(var(--hue), var(--sat), var(--lum));
}

.ui-widget-header {
  color: hsl(var(--hue-header), var(--sat-header), var(--lum-header));
}

.ui-widget-content {
  background-color: hsl(var(--hue), var(--sat-background-alt), var(--lum-background-alt));
  color: hsl(var(--hue-body), var(--sat-body), var(--lum-body));
}
.ui-widget-content a {
  color: hsl(var(--hue-body), var(--sat-body), calc(var(--lum-body) * 1.5));
}
.ui-widget-content .ui-state-active {
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}
