@mixin inject($prefix,
    $hue: $prefix,
    $sat: $prefix,
    $lum: $prefix) {

    @if $hue {
        --hue: var(--hue-#{$prefix});
    }

    @if $sat {
        --sat: var(--sat-#{$prefix});
    }

    @if $lum {
        --lum: var(--lum-#{$prefix});
    }
}

@function apply($prefix: false,
    $hue-prefix: $prefix,
    $hue-delta: false,
    $sat-prefix: $prefix,
    $sat-factor: false,
    $lum-prefix: $prefix,
    $lum-factor: false,
    $alpha: false) {

    $hue: --hue;
    $sat: --sat;
    $lum: --lum;

    @if $hue-prefix {
        $hue: --hue-#{$hue-prefix};
    }

    @if $sat-prefix {
        $sat: --sat-#{$sat-prefix};
    }

    @if $lum-prefix {
        $lum: --lum-#{$lum-prefix};
    }

    $hue-expression: var(#{$hue});
    $sat-expression: var(#{$sat});
    $lum-expression: var(#{$lum});

    @if $hue-delta {
        $hue-expression: calc(var(#{$hue}) + #{$hue-delta});
    }
    @if $sat-factor {
        $sat-expression: calc(var(#{$sat}) * #{$sat-factor});
    }
    @if $lum-factor {
        $lum-expression: calc(var(#{$lum}) * #{$lum-factor});
    }

    @if $alpha {
        @return hsl(#{$hue-expression} #{$sat-expression} #{$lum-expression} / #{$alpha});
    }
    @else {
        @return hsl(#{$hue-expression} #{$sat-expression} #{$lum-expression});
    }
}