@use "color";
@use "sass:math";

%form-element {
  box-sizing: border-box;

  font-size: var(--i);
  padding: var(--form-padding);
  
  color: color.apply($sat-factor: math.div(1, 2), $lum-factor: 2);
  border: var(--button-border);
  border-radius: var(--radius);

  &:hover {
    // outline: unset;

    background-color: color.apply($sat-factor: math.div(2, 3), $lum-factor: math.div(1, 3));
    border-color: color.apply();
  }
}
