@use "color";
@use "gap";
@use "sass:math";

%frame-base {
    border: var(--border);
    border-radius: var(--radius);

    // Sometimes, the first child is contextual-container
    > *:first-child:not(div),
    > div:first-child + * {
        // Must target h1, h2, h3, h4, h5 , h6, p, ...
        margin-top: 0;
    }
}

%frame-dark {
    @extend %frame-base;
    border-color: color.apply($lum-factor: math.div(2, 3));
    background: color.apply("background-alt", $hue-prefix: null, $lum-factor: math.div(5, 4));
}

%frame-light {
    @extend %frame-base;
    border-color: color.apply($lum-factor: math.div(1, 2));
    background: color.apply("background-alt", $hue-prefix: null, $lum-factor: math.div(5, 4));
}

%frame-dark-gap {
	@extend %frame-dark;
	padding: gap.apply(s) gap.apply();
}

