@use "sass:map";

$gap-scaling: (
  xxs: "1/6",
  xs: "1/3",
  s: "1/2",
  m: "1",
  l: "2",
  xl: "3",
);

@function apply($size: m, $vp-factor: false, $negative: false) {
  $value: 'var(--gap)';
  $calc: false;
  
  $factor: map.get($gap-scaling, $size);
  @if ($factor != "1") {
    $value: $value + ' * '+ $factor;
    $calc: true;
  }
  @if ($vp-factor) {
    $value: $value + ' + ' + $vp-factor + 'vw';
    $calc: true;
  }
  @if($negative) {
    $value: '(' + $value + ') * -1';
    $calc: true;
  }

  @if $calc {
    @return calc(#{$value});
  }
  @else {
    @return #{$value};
  }
}
