@use "color";
@use "gap";
@use "list";
@use "sass:math";

%button-shape {
    display: inline-block;
    text-align: center;
    padding: var(--form-padding);
    border-radius: var(--radius);
}

%button {
    @extend %button-shape;
    cursor: pointer;
    text-decoration: none;
    color: color.apply(body, $lum-factor: math.div(5, 4));
    border: var(--button-border);
    border-color: color.apply(i, $hue-prefix: null);

    background-color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(2, 3));

    &:hover {
        text-decoration: none;

        color: color.apply(body, $lum-factor: math.div(5, 4));
        background-color: color.apply(i, $hue-prefix: null);
    }
}

@mixin fixed {
    position: fixed;
    bottom: gap.apply(xs);
    right: gap.apply(xs);

    background: color.apply("background-alt", $alpha: 0.8);
    padding: gap.apply(s);
    box-shadow: shadow();
}

%ul-nav {
  @include list.clean;

  a {
    display: block;
    padding: 0.3em 0.5em;

    color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(3, 2));
    i {
      color: color.apply(i, $hue-prefix: null, $sat-factor: math.div(1, 2));
    }

    &:is(:hover, :focus, .active, .is-active) {
      background-color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(2, 3));
      i {
        color: color.apply(i, $hue-prefix: null);
      }
    }
  }
}

%ul-nav-flex {
  @extend %ul-nav;

  display: flex;
  flex-wrap: wrap;
}

