@use "color.scss";

@function glow() {
  @return 0 0 0.5em color.apply($alpha: 0.6);
}

@function shadow() {
  @return 2px 2px 18px color.apply(background, $alpha: 0.5);
}

// TODO Pass top, left, right, bottom as parameter
@function shadow-bottom() {
  @return 0px -8px 20px -16px color.apply(background, $alpha: 0.8);
}