.autocomplete-deluxe-container {
  box-sizing: border-box;
  font-size: var(--i);
  padding: var(--form-padding);
  color: hsl(var(--hue), calc(var(--sat) * 0.5), calc(var(--lum) * 2));
  border: var(--button-border);
  border-radius: var(--radius);
}
.autocomplete-deluxe-container:hover {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.6666666667), calc(var(--lum) * 0.3333333333));
  border-color: hsl(var(--hue), var(--sat), var(--lum));
}

/* RTL styling */
ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
}

a.autocomplete-deluxe-single:hover {
  text-decoration: none;
}

.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;
  background-color: hsl(var(--hue), calc(var(--sat) * 0.25), calc(var(--lum) * 0.3333333333));
}

div.autocomplete-deluxe-container input.autocomplete-deluxe-form {
  background: transparent;
  padding: 4px 5px 4px 5px;
  border: none;
}
div.autocomplete-deluxe-container input.autocomplete-deluxe-form-single {
  width: 90%;
  border: none;
  background-color: hsl(var(--hue), calc(var(--sat) * 0.25), calc(var(--lum) * 0.3333333333));
}

.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}

span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background: url("x.gif") no-repeat center;
  width: 18px;
  width: 18px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 #fff inset;
  background-color: hsl(var(--hue), calc(var(--sat) * 0.25), calc(var(--lum) * 0.3333333333));
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

div.autocomplete-deluxe-multiple {
  margin: 0;
  padding: 5px;
  width: 100%;
  cursor: text;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  border: none;
  width: 25px;
  margin: 0.3em;
  float: left;
}

/* div.autocomplete-deluxe-throbber {
	width: 16px;
	float: right;
	height: 50%;
}
.autocomplete-deluxe-closed {
	background: url("../images/throbber.gif") no-repeat 100% 6px;
}
.autocomplete-deluxe-open {
	background: url("../images/throbber.gif") no-repeat 100% -14px;
} */
.autocomplete-deluxe-item {
  float: left;
  margin: 0.3em;
  cursor: move;
  display: flex;
}

.autocomplete-deluxe-item-delete {
  background: hsl(var(--hue-body), var(--sat-body), var(--lum-body));
  height: 1rem;
  width: 1rem;
  margin-left: 0.4em;
  z-index: 1000;
}
.autocomplete-deluxe-item-delete:hover {
  background: hsl(var(--hue-error), var(--sat-error), var(--lum-error));
}

.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #d4d4d4;
}

.autocomplete-deluxe-highlight-char {
  color: inherit;
  font-weight: bold;
}

[dir=rtl] span.autocomplete-deluxe-value-delete {
  float: left;
}
[dir=rtl] div.autocomplete-deluxe-multiple {
  padding: 4px 5px;
}
[dir=rtl] input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  margin-left: 0;
  margin-right: 5px;
  float: right;
}
[dir=rtl] div.autocomplete-deluxe-throbber {
  float: left;
}
[dir=rtl] .autocomplete-deluxe-closed {
  background-position: 0 6px;
}
[dir=rtl] .autocomplete-deluxe-open {
  background-position: 0 -14px;
}
[dir=rtl] .autocomplete-deluxe-item {
  float: right;
  margin: 3px 5px 3px 0;
  padding: 3px 5px 3px 20px;
}
[dir=rtl] .autocomplete-deluxe-item-delete {
  position: absolute;
  right: auto;
  left: 3px;
}
