[data-drupal-selector*=bulk-form-extended] {
  display: flex;
  --hue: var(--hue-warning);
  --i: var(--i-s);
}
[data-drupal-selector*=bulk-form-extended] .form-actions input:not(:first-child) {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
@media print {
  [data-drupal-selector*=bulk-form-extended] {
    display: none;
  }
}
