.diff-header,
.diff-controls {
  background-color: hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
  padding: calc(var(--gap) * 1/2);
}

ins {
  background-color: hsl(var(--hue), var(--sat), var(--lum), 0.4);
}

table.diff td.field-name {
  background: none;
  margin-top: var(--gap);
}
table.diff td.diff-deletedline {
  background-color: hsl(var(--hue-error), var(--sat-error), var(--lum-error), 0.1);
}
table.diff td.diff-deletedline span.diffchange {
  background: none;
  color: hsl(var(--hue-error), var(--sat-error), var(--lum-body));
}
table.diff td.diff-addedline {
  background-color: hsl(var(--hue-status), var(--sat-status), var(--lum-status), 0.1);
}
table.diff td.diff-addedline span.diffchange {
  background: none;
  color: hsl(var(--hue-status), var(--sat-status), var(--lum-body));
}
