.dropdown-content {
  border: var(--border);
  border-radius: var(--radius);
}
.dropdown-content > *:first-child:not(div),
.dropdown-content > div:first-child + * {
  margin-top: 0;
}

.dropdown-content {
  border-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.6666666667));
  background: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.25));
}

.dropdown-content {
  padding: calc(var(--gap) * 1/2) var(--gap);
}

.dropdown-wrapper > a {
  display: inline-block;
  text-align: center;
  padding: var(--form-padding);
  border-radius: var(--radius);
}

.dropdown-content {
  contain: layout;
  position: absolute;
  z-index: 501;
  width: 86vw;
  max-width: 32rem;
}
.dropdown-content > *:first-child {
  margin-top: 0;
}
.dropdown-content nav > ul {
  flex-direction: column;
}
.no-js .dropdown-content {
  display: none;
}

.dropdown-wrapper {
  position: relative;
}
.dropdown-wrapper > .dropdown-content {
  visibility: hidden;
}
.dropdown-wrapper:is(:hover, :focus-within) > :is(a, button, .button) {
  border-color: transparent;
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
.dropdown-wrapper:is(:hover, :focus-within) > .dropdown-content {
  visibility: visible;
}
