.widget-geofield-map {
  width: 100%;
}
.widget-geofield-map legend {
  display: none;
}
.widget-geofield-map fieldset {
  padding: 0;
  border: none;
}
.widget-geofield-map .fieldset-wrapper {
  display: block;
}
