li.menu-item--active-trail > a {
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
li.menu-item--active-trail > a i {
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}
