.page-load-progress-lock-screen {
  background-color: hsl(var(--hue-background), var(--sat-background), var(--lum-background), 0.7);
}

/* .page-load-progress-throbber {
  height: 64px;
  width: 64px;
  margin-left: -32px;
  margin-top: -32px;
} */
