:is(.paragraph-form, .paragraphs-subform) {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 0.4em;
}
:is(.paragraph-form, .paragraphs-subform) > .widget-string-textfield {
  flex-grow: 1;
}
:is(.paragraph-form, .paragraphs-subform) > .widget-text-textarea {
  flex: 100%;
}
:is(.paragraph-form, .paragraphs-subform) .form-type-physical-measurement {
  display: flex;
  align-items: end;
}

.paragraphs-add-wrapper {
  margin-top: var(--gap);
}

.paragraphs-add-dialog {
  --hue: var(--hue-paragraph);
}

.layout > form > .widget-paragraphs {
  margin: 0;
}

[class*=field--name-field-vars-] {
  flex: 30%;
}
[class*=field--name-field-vars-] .tabledrag-toggle-weight-wrapper {
  display: none;
}
