.toastify.toastify--info {
  --hue: var(--hue-info);
  --sat: var(--sat-info);
  --lum: var(--lum-info);
}

.toastify.toastify--status {
  --hue: var(--hue-status);
  --sat: var(--sat-status);
  --lum: var(--lum-status);
}

.toastify.toastify--warning {
  --hue: var(--hue-warning);
  --sat: var(--sat-warning);
  --lum: var(--lum-warning);
}

.toastify.toastify--error {
  --hue: var(--hue-error);
  --sat: var(--sat-error);
  --lum: var(--lum-error);
}

.toastify {
  border: var(--border);
  border-radius: var(--radius);
  border-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.6666666667));
  background: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.25)) !important;
}
.toastify .toast-close {
  background: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.5));
}
.toastify .toast-progress {
  background-image: unset;
  background-image: linear-gradient(to right, hsl(var(--hue), var(--sat), calc(var(--lum) * 0.6666666667)), hsl(var(--hue), var(--sat), var(--lum)));
}
