.shepherd-target {
  border: var(--border);
  border-radius: var(--radius);
}
.shepherd-target > *:first-child:not(div),
.shepherd-target > div:first-child + * {
  margin-top: 0;
}

.tour-button,
.shepherd-content {
  --hue: var(--hue-status);
}

.shepherd-element,
.shepherd-arrow::before {
  background: hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
}

.shepherd-target {
  --hue: var(--hue-status);
  --sat-background: calc(var(--sat-background) * math.div(3, 2));
  background-color: hsl(var(--hue), var(--sat-background-alt), var(--lum-background-alt));
  box-shadow: glow();
}
