form.webform-submission-form {
  padding: calc(var(--gap) + 0.2vw);
}
form.webform-submission-form [data-webform-key=begin] ~ .form-actions input#edit-draft {
  display: none;
}
form.webform-submission-form [data-drupal-selector=edit-form] {
  margin-bottom: calc(var(--gap) * 2);
}
