.progress-step:not(:last-child)::after {
  z-index: inherit;
}

.webform-progress-tracker.progress-tracker {
  margin-bottom: calc(var(--gap) * 3);
}
.webform-progress-tracker .progress-step:is(.is-active, .is-complete) .progress-marker {
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}
.webform-progress-tracker .progress-step:is(.is-active, .is-complete) .progress-text {
  color: hsl(var(--hue), var(--sat), var(--lum-body));
}
.webform-progress-tracker .progress-step.is-complete::after {
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}
