{#
/**
 * @file
 * Default theme implementation to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 *
 * @ingroup themeable
 */
#}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ attach_library('cascade/dropdown') }}
{{ _self.menu_links(items, attributes, 0) }}
{% macro menu_links(items, attributes, menu_level) %}
{% if items %}
{% if menu_level == 0 %}
<ul{{ attributes }}>
{% elseif menu_level == 1 %}
<ul class="dropdown-content">
{% else %}
<ul>
{% endif %}
{% for item in items %}      
  {% if menu_level == 0 and item.below %}
  <li{{ item.attributes.addClass('dropdown-wrapper') }}>
  {% else %}
  <li{{ item.attributes }}>
  {% endif %}
    {% if item.in_active_trail %}
    {% set link_attributes = create_attribute() %}
    {{ link(item.title, item.url, link_attributes.addClass('is-active')) }}
    {% else %}
    {{ link(item.title, item.url) }}
    {% endif %}
    {% if item.below %}
    {{ _self.menu_links(item.below, attributes, menu_level + 1) }}
    {% endif %}
  </li>
{% endfor %}
</ul>
{% endif %}
{% endmacro %}
