{#
/**
 * @file
 * Theme override to display primary and secondary local tasks.
 *
 * Available variables:
 * - primary: HTML list items representing primary tasks.
 * - secondary: HTML list items representing primary tasks.
 *
 * Each item in these variables (primary and secondary) can be individually
 * themed in menu-local-task.html.twig.
 */
#}
{% if primary %}
  <nav id="primary-local-tasks" {{ attributes }}>
    <h2 class="visually-hidden">{{ 'Primary local menu'|t }}</h2>
    <ul>{{ primary }}</ul>
  </nav>
{% endif %}
{% if secondary %}
  <nav id="secondary-local-tasks" {{ attributes }}>
    <h2 class="visually-hidden">{{ 'Secondary local menu'|t }}</h2>
    <ul>{{ secondary }}</ul>
  </nav>
{% endif %}