// Drupals resposive table-column Feature

@container (width < 60ch) {
    .priority-low {
        display: none;
    }
}

@container (width < 40ch) {
    .priority-medium {
        display: none;
    }
}

.tableresponsive-toggle-columns {
    --i: var(--i-xs);
}