@use "color";
@use "gap";

table {
    width: 100%;
    border-collapse: collapse;

    &.sticky-header {
        background-color: color.apply("background-alt");
        top: calc(var(--mainnav-height) + var(--subnav-height)) !important;

        // RESET Drupalism
        thead {
            background: transparent;
            border: none;
        }
    }
}

caption {
    text-align: inherit;
}

thead {
    background-color: color.apply($lum-prefix: "background-alt");
    text-align: left;
}

th {
    padding: 0.3em 0.2em;
    vertical-align: top;

    .reference {
        display: block;
        --h4: 0.5rem;
    }
}

td {
    padding: gap.apply(s);
    > :where(h1, h2, h3, h4, h5, h6) {
        margin: unset;
        font-size: clamp(1rem, var(--h), 2rem);
    }
}
