{% embed "field.html.twig" %}

{% block items %}
  {% set content_classes = ['multi', content_view_mode] %}
  {% set shape_default = ['grid'] %}

	<div {{ content_attributes.addClass(content_classes).addClass(shape_classes is defined ? shape_classes : shape_default) }}>
		{% for item in items %}
			{{ item.content }}
		{% endfor %}
	</div>
{% endblock %}

{% endembed %}