{%
  set classes = [
    'field',
    'name-' ~ field_name|clean_class,
    'type-' ~ field_type|clean_class,
    'label-' ~ label_display,
  ]
%}

{%
  set major_field_types = [
	'entity_reference',
	'entity_reference_revisions'
  ]
%}

{%
	set minor_field_name = [
		'field_languages'
	]
%}

<div{{attributes.addClass(classes)}}>
	{% block label %}
		{% if not label_hidden %}
			{% set tag = (multiple and label_display == 'above' and field_type in major_field_types and field_name not in minor_field_name) ? 'legend' : 'label' %}
			<{{tag}} {{ title_attributes.addClass(label_display == 'visually_hidden' ? 'visually-hidden') }}>
				{{ label }}
			</{{tag}}>
		{% endif %}
	{% endblock %}

	{% block items %}
		{% if multiple %}
			<div class="items">
				{% for item in items %}
					{{ item.content }}
					{% if not loop.last %}
						,
					{% endif %}
				{% endfor %}
			</div>
		{% else %}
			{% for item in items %}
				{{ item.content }}
			{% endfor %}
		{% endif %}
	{% endblock %}
</div>
