{#
/**
 * @file
 * Default theme implementation for a 'textarea' #type form element.
 *
 * Available variables
 * - wrapper_attributes: A list of HTML attributes for the wrapper element.
 * - attributes: A list of HTML attributes for the <textarea> element.
 * - resizable: An indicator for whether the textarea is resizable.
 * - required: An indicator for whether the textarea is required.
 * - value: The textarea content.
 *
 * @see template_preprocess_textarea()
 *
 * @ingroup themeable
 */
#}
{# Quickly fix ckeditor5 overflow issue by setting overflow-x: auto;#}
{# <div{{ wrapper_attributes }}> #}
  <textarea{{ attributes }}>{{ value }}</textarea>
{# </div> #}
