@use "gap";

.ui-front {
  z-index: 503;
}

.ui-autocomplete {
  --gap: var(--form-padding);

  border: var(--border);
  border-radius: var(--radius);
  padding: gap.apply(s);

  :is(input, select, textarea, button) {
    font-family: inherit;
    font-size: inherit;
  }

  a {
    display: block;
    padding: gap.apply();
    color: White;
  }
}