@use "gap";
@use "frame";

.badge-buttons {
  position: absolute;
  z-index: 1;
  inset: gap.apply(xs);

  display: flex;
  align-items: flex-start;

  &:is(:hover, :focus) {
		// Overlap other badge-buttons
		z-index: 2;
	}
  
  pointer-events: none;  
  > * {
		margin: 0.1em;
    pointer-events: all;
  }

  &,
  > * {
    > button,
    > .button {
      font-weight: bold;

      > .link-text {
        display: none;
      }
    }
  }

	.quickedit-form-container {
		@extend %frame-dark-gap;
	}
}
