@use "color";
@use "navigation";

:where(button, .button, .contextual-links [role="button"]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide) {
	@extend %button;

	font-size: var(--i);

	&.is-active {
		--sat: calc(var(--sat) * math.div(4, 3));
	}
}

.button[class^="remove"] {
	--hue: var(--hue-error);
}

// modifiers
.button--primary {
	font-weight: bold;
}

.button--warning {
	--hue: var(--hue-warning);
}

.button--danger {
	--hue: var(--hue-error);
}

.button-group {
	display: flex;
	flex-wrap: wrap;
	gap: 0.4em;
}