@use "color";
@use "gap";
@use "frame";

dialog {
  @extend %frame-dark;
  padding: gap.apply(s);

  // @todo time for gap mixing in vw!
  @media(width > 80ch) {
    padding: gap.apply();
  }

  @media(width > 120ch) {
    padding: gap.apply(l);
  }
}
