@use "sass:math";
@use "color";
@use "form_element";

select {
  @extend %form-element;
  font-family: var(--font-serif);

  &:not([multiple]) {
    background-color: color.apply($sat-factor: math.div(2, 3), $lum-factor: math.div(2, 3));
  }

  &[multiple] {
    background-color: color.apply($sat-factor: math.div(1, 4), $lum-factor: math.div(1, 3));

    height: calc(var(--i) + 1em);

    option {
      display: inline-block;
      font-size: var(--i-xs);
      outline: thin solid white;
      padding: 0.2em 0.5em;
    }
  }
}

.form-item:has(select[multiple]) {
  width: var(--sidebar);
  overflow-x: auto;
  padding-bottom: 1rem;
}
