@use "sass:math";
@use "color";
@use "form_element";

input {
  @extend %form-element;
  font-family: var(--font-serif);

  --lum: var(--lum-body);
  background-color: color.apply($sat-factor: math.div(1, 4), $lum-factor: math.div(1, 3));

  &:invalid {
    background-color: color.apply($sat-factor: math.div(1, 5), $lum-factor: math.div(1, 4));
  }


  &:valid,
  &:focus-visible {
    transition: background-color 0.6s ease;
    background-color: color.apply($lum-factor: math.div(1, 2));
  }
}
