@use "color";
@use "gap";

label.option {
  padding: unset;
  background: unset;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  translate: 0 -0.2rem;
}

.form-checkboxes {  
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(14ch), 1fr));
}

.js-form-type-checkbox {
  display: flex;
  align-items: center;
  gap: gap.apply(s);
}

input[type='checkbox'] {
  width: var(--i);
  height: var(--i);

  &:checked {
    box-shadow: inset 0px 0px 0px 3px color.apply("background-alt");
    background-color: color.apply();
  }
}