@use "navigation";

nav:not(.admin-toolbar__content) {
  font-family: var(--font-serif);
  font-size: var(--i);

  >ul {
    @extend %ul-nav-flex;

    @container (width < 120ch) {
      >li>a .link-text {
        display: none;
      }
    }

    @container (width > 150ch) {
      *[accesskey]:after {
        content: ' [' attr(accesskey) ']';
        text-transform: uppercase;
      }
    }
  }

  ul {
    list-style: none;
    margin: 0;
  }

  @media print {
    display: none;
  }
}