@use "color";
@use "gap";

:root {
  // @todo these vars should be in control of sticky-crumbs
  --mainnav: 74px;
  --subnav: 54px;
  --nav: var(--subnav);
}

html {
  scroll-padding-top: calc(var(--mainnav-height) + var(--subnav-height));
}

:is(#mainnav, #subnav) {
  background-color: color.apply("background-alt");
  padding: gap.apply(xs) gap.apply(s);

  display: flex;
  gap: gap.apply();
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  .contextual-region {
    container-type: normal;
  }

  .button {
    padding: var(--form-padding);
  }

  :is(legend, label:not(.option)) {
    display: none;
  }

  :is(form, .form-item, .form-actions) {
    margin-bottom: unset;
  }

  .tour-button {
    background: unset;
  }
}
