@use "color";
@use "navigation";

ul {
  &:is(.pager__items, .js-pager__items) {
    @extend %ul-nav;
    justify-content: center;
    align-items: center;

    font-weight: bold;

    .is-active {
      a {
        color: color.apply();
        background-color: color.apply($alpha: 0.2);
      }
    }
  }
}