@use "color";
@use "sass:math";

$input-width: 3em;

.slider {
    &.min {
        @media (width >= 80ch) {
            min-width: 20em;
        }
        input {
            max-width: $input-width;
            float: left;
        }
        /* padding-right: 0 !important; */
    }
    &.max {
        max-width: $input-width;
        /* padding-left: 0 !important; */
    }
}

.ui-slider {
    height: 100%;
    &.ui-slider-horizontal {
        background-color: color.apply($sat-factor: math.div(1, 3), $lum-factor: math.div(2, 3));
        width: calc(100% - #{$input-width} - 2 * var(--gap));
        float: right;
        border: none;
    }
    .ui-slider-handle {
        top: 0;
        height: 100%;
        border: none;
        width: 1em;
    }

    .ui-slider-range {
        background-color: color.apply();
    }
}
