/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: hsl(var(--hue-background), var(--sat-background), var(--lum-background));
}
html:focus-within {
  scroll-behavior: smooth;
}

body {
  margin: unset;
  padding: unset;
  container-type: inline-size;
  font-family: var(--font-sans);
  font-size: var(--p);
  line-height: 1.5em;
  --hue: var(--hue-accent);
  --sat: var(--sat-accent);
  --lum: var(--lum-accent);
  color: hsl(var(--hue-body), var(--sat-body), var(--lum-body));
  hyphens: auto;
  text-rendering: optimizeSpeed;
}

:is(p, ul, ol) {
  margin-block: unset;
  color: hsl(var(--hue-body), var(--sat-body), var(--lum-body));
}

p {
  margin-block: calc(var(--gap) * 1/3);
}
p + p {
  margin-block-start: var(--gap);
}

ul,
ol {
  padding-inline-start: 1.2em;
}

figure,
fieldset {
  all: unset;
}

a {
  text-decoration: none;
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}
a:is(:hover, :focus) {
  text-decoration: none;
  color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 1.25));
}
a img {
  border: 0;
}

h1 {
  font-size: calc(var(--h1) + 1.2vw);
}
h1 a {
  font-size: calc(max(var(--h1), var(--i-l)) + 1.2vw);
}

h2, legend {
  font-size: calc(var(--h2) + 0.9vw);
}
h2 a, legend a {
  font-size: calc(max(var(--h2), var(--i-l)) + 0.9vw);
}

h3, details > summary {
  font-size: calc(var(--h3) + 0.6vw);
}
h3 a, details > summary a {
  font-size: calc(max(var(--h3), var(--i-l)) + 0.6vw);
}

h4 {
  font-size: calc(var(--h4) + 0.3vw);
}
h4 a {
  font-size: calc(max(var(--h4), var(--i-l)) + 0.3vw);
}

:where(h1, h2, legend, h3, details > summary, h4, h5, h6) {
  font-family: var(--font-serif);
  font-weight: normal;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-wrap: balance;
  margin-inline-start: 0.05em;
  margin-block: 0.8em 0.4em;
  color: hsl(var(--hue-heading), var(--sat-heading), var(--lum-heading));
}
header :where(h1, h2, legend, h3, details > summary, h4, h5, h6) {
  line-height: 1;
}

fieldset > legend {
  margin-top: unset;
}

strong {
  font-weight: 800;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

audio,
video,
iframe {
  width: 100%;
}

.media-oembed-content {
  height: 100%;
}

var,
kbd,
code {
  font-family: var(--font-mono);
  font-style: inherit;
}

pre,
code {
  white-space: pre-wrap;
  background: hsl(var(--hue), var(--sat), var(--lum), 0.2);
  padding: 0.24em;
}

pre > code {
  background: unset;
  padding: unset;
}

hr {
  border-bottom: var(--border);
  border-color: hsl(var(--hue-body), var(--sat-body), var(--lum-body), 0.5);
}

progress {
  border: none;
  max-width: 100%;
  height: var(--p);
  background-color: hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
}
progress::-moz-progress-bar, progress::-webkit-progress-bar {
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
