/*
@property --font-sans {
  syntax: "<font-family>";
  initial-value: system-ui;
  inherits: false;
}

@property --font-serif {
  syntax: "<font-family>";
  initial-value: 'Archivo Narrow';
  inherits: false;
}

@property --font-mono {
  syntax: "<font-family>";
  initial-value: 'mono';
  inherits: false;
} */
:root {
  --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}
