table {
  width: 100%;
  border-collapse: collapse;
}
table.sticky-header {
  background-color: hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
  top: calc(var(--mainnav-height) + var(--subnav-height)) !important;
}
table.sticky-header thead {
  background: transparent;
  border: none;
}

caption {
  text-align: inherit;
}

thead {
  background-color: hsl(var(--hue), var(--sat), var(--lum-background-alt));
  text-align: left;
}

th {
  padding: 0.3em 0.2em;
  vertical-align: top;
}
th .reference {
  display: block;
  --h4: 0.5rem;
}

td {
  padding: calc(var(--gap) * 1/2);
}
td > :where(h1, h2, h3, h4, h5, h6) {
  margin: unset;
  font-size: clamp(1rem, var(--h), 2rem);
}
