.ui-front {
  z-index: 503;
}

.ui-autocomplete {
  --gap: var(--form-padding);
  border: var(--border);
  border-radius: var(--radius);
  padding: calc(var(--gap) * 1/2);
}
.ui-autocomplete :is(input, select, textarea, button) {
  font-family: inherit;
  font-size: inherit;
}
.ui-autocomplete a {
  display: block;
  padding: var(--gap);
  color: White;
}
