.badge-buttons .quickedit-form-container {
  border: var(--border);
  border-radius: var(--radius);
}
.badge-buttons .quickedit-form-container > *:first-child:not(div),
.badge-buttons .quickedit-form-container > div:first-child + * {
  margin-top: 0;
}

.badge-buttons .quickedit-form-container {
  border-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.6666666667));
  background: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.25));
}

.badge-buttons .quickedit-form-container {
  padding: calc(var(--gap) * 1/2) var(--gap);
}

.badge-buttons {
  position: absolute;
  z-index: 1;
  inset: calc(var(--gap) * 1/3);
  display: flex;
  align-items: flex-start;
  pointer-events: none;
}
.badge-buttons:is(:hover, :focus) {
  z-index: 2;
}
.badge-buttons > * {
  margin: 0.1em;
  pointer-events: all;
}
.badge-buttons > button,
.badge-buttons > .button,
.badge-buttons > * > button,
.badge-buttons > * > .button {
  font-weight: bold;
}
.badge-buttons > button > .link-text,
.badge-buttons > .button > .link-text,
.badge-buttons > * > button > .link-text,
.badge-buttons > * > .button > .link-text {
  display: none;
}
