:where(button, .button, .contextual-links [role=button]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide) {
  display: inline-block;
  text-align: center;
  padding: var(--form-padding);
  border-radius: var(--radius);
}

:where(button, .button, .contextual-links [role=button]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide) {
  cursor: pointer;
  text-decoration: none;
  color: hsl(var(--hue-body), var(--sat-body), calc(var(--lum-body) * 1.25));
  border: var(--button-border);
  border-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
:hover:where(button, .button, .contextual-links [role=button]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide) {
  text-decoration: none;
  color: hsl(var(--hue-body), var(--sat-body), calc(var(--lum-body) * 1.25));
  background-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

:where(button, .button, .contextual-links [role=button]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide) {
  font-size: var(--i);
}
:where(button, .button, .contextual-links [role=button]):not(.toolbar-button, .admin-toolbar__expand-button, .js-hide).is-active {
  --sat: calc(var(--sat) * math.div(4, 3));
}

.button[class^=remove] {
  --hue: var(--hue-error);
}

.button--primary {
  font-weight: bold;
}

.button--warning {
  --hue: var(--hue-warning);
}

.button--danger {
  --hue: var(--hue-error);
}

.button-group {
  display: flex;
  flex-wrap: wrap;
  gap: 0.4em;
}
