.callout {
  border: var(--border);
  border-radius: var(--radius);
}
.callout > *:first-child:not(div),
.callout > div:first-child + * {
  margin-top: 0;
}

.callout {
  border-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.5));
  background: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.25));
}

.callout {
  padding: var(--i-s);
}
@media print {
  .callout {
    display: none;
  }
}

td.callout {
  border: none;
  border-radius: 0;
}
