dialog {
  border: var(--border);
  border-radius: var(--radius);
}
dialog > *:first-child:not(div),
dialog > div:first-child + * {
  margin-top: 0;
}

dialog {
  border-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.6666666667));
  background: hsl(var(--hue), var(--sat-background-alt), calc(var(--lum-background-alt) * 1.25));
}

dialog {
  padding: calc(var(--gap) * 1/2);
}
@media (width > 80ch) {
  dialog {
    padding: var(--gap);
  }
}
@media (width > 120ch) {
  dialog {
    padding: calc(var(--gap) * 2);
  }
}
