input {
  box-sizing: border-box;
  font-size: var(--i);
  padding: var(--form-padding);
  color: hsl(var(--hue), calc(var(--sat) * 0.5), calc(var(--lum) * 2));
  border: var(--button-border);
  border-radius: var(--radius);
}
input:hover {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.6666666667), calc(var(--lum) * 0.3333333333));
  border-color: hsl(var(--hue), var(--sat), var(--lum));
}

input {
  font-family: var(--font-serif);
  --lum: var(--lum-body);
  background-color: hsl(var(--hue), calc(var(--sat) * 0.25), calc(var(--lum) * 0.3333333333));
}
input:invalid {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.2), calc(var(--lum) * 0.25));
}
input:valid, input:focus-visible {
  transition: background-color 0.6s ease;
  background-color: hsl(var(--hue), var(--sat), calc(var(--lum) * 0.5));
}
