select {
  box-sizing: border-box;
  font-size: var(--i);
  padding: var(--form-padding);
  color: hsl(var(--hue), calc(var(--sat) * 0.5), calc(var(--lum) * 2));
  border: var(--button-border);
  border-radius: var(--radius);
}
select:hover {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.6666666667), calc(var(--lum) * 0.3333333333));
  border-color: hsl(var(--hue), var(--sat), var(--lum));
}

select {
  font-family: var(--font-serif);
}
select:not([multiple]) {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.6666666667), calc(var(--lum) * 0.6666666667));
}
select[multiple] {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.25), calc(var(--lum) * 0.3333333333));
  height: calc(var(--i) + 1em);
}
select[multiple] option {
  display: inline-block;
  font-size: var(--i-xs);
  outline: thin solid white;
  padding: 0.2em 0.5em;
}

.form-item:has(select[multiple]) {
  width: var(--sidebar);
  overflow-x: auto;
  padding-bottom: 1rem;
}
