label.option {
  padding: unset;
  background: unset;
  color: inherit;
  font-size: inherit;
  line-height: inherit;
  translate: 0 -0.2rem;
}

.form-checkboxes {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(14ch), 1fr));
}

.js-form-type-checkbox {
  display: flex;
  align-items: center;
  gap: calc(var(--gap) * 1/2);
}

input[type=checkbox] {
  width: var(--i);
  height: var(--i);
}
input[type=checkbox]:checked {
  box-shadow: inset 0px 0px 0px 3px hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}
