nav:not(.admin-toolbar__content) > ul {
  list-style: none;
  padding-inline-start: unset;
  margin: unset;
}
nav:not(.admin-toolbar__content) > ul a {
  display: block;
  padding: 0.3em 0.5em;
  color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 1.5));
}
nav:not(.admin-toolbar__content) > ul a i {
  color: hsl(var(--hue), calc(var(--sat-i) * 0.5), var(--lum-i));
}
nav:not(.admin-toolbar__content) > ul a:is(:hover, :focus, .active, .is-active) {
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
nav:not(.admin-toolbar__content) > ul a:is(:hover, :focus, .active, .is-active) i {
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

nav:not(.admin-toolbar__content) > ul {
  display: flex;
  flex-wrap: wrap;
}

nav:not(.admin-toolbar__content) {
  font-family: var(--font-serif);
  font-size: var(--i);
}
@container (width < 120ch) {
  nav:not(.admin-toolbar__content) > ul > li > a .link-text {
    display: none;
  }
}
@container (width > 150ch) {
  nav:not(.admin-toolbar__content) > ul *[accesskey]:after {
    content: " [" attr(accesskey) "]";
    text-transform: uppercase;
  }
}
nav:not(.admin-toolbar__content) ul {
  list-style: none;
  margin: 0;
}
@media print {
  nav:not(.admin-toolbar__content) {
    display: none;
  }
}
