:root {
  --mainnav: 74px;
  --subnav: 54px;
  --nav: var(--subnav);
}

html {
  scroll-padding-top: calc(var(--mainnav-height) + var(--subnav-height));
}

:is(#mainnav, #subnav) {
  background-color: hsl(var(--hue-background-alt), var(--sat-background-alt), var(--lum-background-alt));
  padding: calc(var(--gap) * 1/3) calc(var(--gap) * 1/2);
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
:is(#mainnav, #subnav) .contextual-region {
  container-type: normal;
}
:is(#mainnav, #subnav) .button {
  padding: var(--form-padding);
}
:is(#mainnav, #subnav) :is(legend, label:not(.option)) {
  display: none;
}
:is(#mainnav, #subnav) :is(form, .form-item, .form-actions) {
  margin-bottom: unset;
}
:is(#mainnav, #subnav) .tour-button {
  background: unset;
}
