ul:is(.pager__items, .js-pager__items) {
  list-style: none;
  padding-inline-start: unset;
  margin: unset;
}
ul:is(.pager__items, .js-pager__items) a {
  display: block;
  padding: 0.3em 0.5em;
  color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 1.5));
}
ul:is(.pager__items, .js-pager__items) a i {
  color: hsl(var(--hue), calc(var(--sat-i) * 0.5), var(--lum-i));
}
ul:is(.pager__items, .js-pager__items) a:is(:hover, :focus, .active, .is-active) {
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
ul:is(.pager__items, .js-pager__items) a:is(:hover, :focus, .active, .is-active) i {
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

ul:is(.pager__items, .js-pager__items) {
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
ul:is(.pager__items, .js-pager__items) .is-active a {
  color: hsl(var(--hue), var(--sat), var(--lum));
  background-color: hsl(var(--hue), var(--sat), var(--lum), 0.2);
}
