.slider.min {
  /* padding-right: 0 !important; */
}
@media (width >= 80ch) {
  .slider.min {
    min-width: 20em;
  }
}
.slider.min input {
  max-width: 3em;
  float: left;
}
.slider.max {
  max-width: 3em;
  /* padding-left: 0 !important; */
}

.ui-slider {
  height: 100%;
}
.ui-slider.ui-slider-horizontal {
  background-color: hsl(var(--hue), calc(var(--sat) * 0.3333333333), calc(var(--lum) * 0.6666666667));
  width: calc(100% - 3em - 2 * var(--gap));
  float: right;
  border: none;
}
.ui-slider .ui-slider-handle {
  top: 0;
  height: 100%;
  border: none;
  width: 1em;
}
.ui-slider .ui-slider-range {
  background-color: hsl(var(--hue), var(--sat), var(--lum));
}
