@use "color";
@use "gap";
@use "sass:math";
// @todo @use "reset"

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: color.apply(background);

  &:focus-within {
    scroll-behavior: smooth;
  }
}

body {
  margin: unset;
  padding: unset;
  container-type: inline-size;

  font-family: var(--font-sans);
  font-size: var(--p);
  line-height: 1.5em;
  @include color.inject("accent");
  color: color.apply(body);

  hyphens: auto;
  text-rendering: optimizeSpeed;
}

:is(p, ul, ol) {
  margin-block: unset;
  color: color.apply(body);
}

p {
  margin-block: gap.apply(xs);
  + p {
    margin-block-start: gap.apply();
  }
}

ul,
ol {
  padding-inline-start: 1.2em;
  // @todo does not grip. Seen in a Kevin Powell video
  // &:empty {
  //   display: none;
  // }
}

figure,
fieldset {
  all: unset;
}

a {
  text-decoration: none;
  color: color.apply(i, $hue-prefix: null);

  &:is(:hover, :focus) {
    text-decoration: none;
    color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(5, 4));
  }

  img {
    border: 0;
  }
}

// Headings
$heading-scale: (
  'h1': '1.2vw',
  'h2': '0.9vw',
  'h3': '0.6vw',
  'h4': '0.3vw',
);

@each $heading,
$scale in $heading-scale {
  #{$heading} {
    font-size: calc(var(--#{$heading}) + #{$scale});

    a {
      font-size: calc(max(var(--#{$heading}), var(--i-l)) + #{$scale});
    }
  }
}

:where(h1, h2, h3, h4, h5, h6, legend) {
  font-family: var(--font-serif);
  font-weight: normal;
  line-height: var(--line-height);
  letter-spacing: var(--letter-spacing);
  text-wrap: balance;

  margin-inline-start: 0.05em;
  margin-block: 0.8em 0.4em;

  header & {
    line-height: 1;
  }

  color: color.apply(heading);
}

legend {
  @extend h2;

  fieldset>& {
    margin-top: unset;
  }
}

details>summary {
  @extend h3;
}

strong {
  font-weight: 800;
}

img,
picture {
  display: block;
  max-width: 100%;
  height: auto;
}

audio,
video,
iframe {
  width: 100%;
}

.media-oembed-content {
  height: 100%;
}

var,
kbd,
code {
  font-family: var(--font-mono);
  font-style: inherit;
}

pre,
code {
  white-space: pre-wrap;
  background: color.apply($alpha: 0.2);
  padding: 0.24em;
}

pre>code {
  background: unset;
  padding: unset;
}

hr {
  border-bottom: var(--border);
  border-color: color.apply(body, $alpha: 0.5);
}

// progress[value] {
progress {
  border: none;
  max-width: 100%;
  // appearance: none;

  height: var(--p);

  background-color: color.apply('background-alt');

  &::-moz-progress-bar,
  &::-webkit-progress-bar {
    background-color: color.apply();
  }
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
  }
}
