{{ attach_library('cascade/dropdown') }}

<div {{ attributes.addClass('dropdown-wrapper') }}>
	<button type="button" {{ trigger.attributes }}>
		{{ trigger }}
	</button>
	<div class="dropdown-content">
		{{ content }}
	</div>
</div>
