@use "gap";

.item {  
  display: inline-block;
  position: relative;

  // support bulk operations
  > .js-form-type-checkbox,
  // support js-media-library-views-form
  > .js-click-to-select-checkbox {
    position: absolute;
    bottom: gap.apply(xs);
    right: gap.apply(xs);
    z-index: 1;
  }
}