@use "color";
@use "gap";

// @todo Move into skin
.skin_layout {
  padding: gap.apply();

  display: grid;
  gap: gap.apply() gap.apply(l);

  @container (width >= 120ch) {
    grid-template-columns: 1fr 1fr;

    > :is(header, fieldset.extra) {
      grid-column: 1 / -1;
    }
  }

  >header {
    display: flex;
    gap: gap.apply();
  }

  >fieldset {
    border: thin solid;
    border-color: color.apply(body);
    padding: gap.apply(s);

    legend {
      font-size: var(--h1);
    }
  }

  .field {
    display: inline-block;
  }

  .type-color-field-type {
    min-width: 5rem;
  }

  .form-wrapper {
    display: inline-block;
  }

  input.form-number {
    max-width: 6rem;
  }
}
