@use "gap";

.multi {
  gap: gap.apply();

  &.grid {
    display: grid;
  }

  &.flex {
    display: flex;
    flex-wrap: wrap;

    .contextual-region {
      container-type: normal;
    }

    &.space-around {
      justify-content: space-around;
    }

    &.space-between {
      justify-content: space-between;
    }

    &.space-evenly {
      justify-content: space-evenly;
    }
  }
}
