@use "color";
@use "sass:math";
@use "form_element";

$color_1: black;
$color_2: white;
$color_3: #fff;
$color_4: #333333;
$color_5: inherit;
$background_color_1: #3875d7;
$background_color_2: #eee;
$background_color_3: #ffffff;
$background_color_4: #e4e4e4;

/* RTL styling */
ul.ui-autocomplete {
  max-height: 240px;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 3px;
}
a.autocomplete-deluxe-single {
  &:hover {
    text-decoration: none;
  }
}
.autocomplete-deluxe-container {
  display: inline-block;
  position: relative;

  @extend %form-element;
  background-color: color.apply($sat-factor: math.div(1, 4), $lum-factor: math.div(1, 3));
}

div.autocomplete-deluxe-container {
  input.autocomplete-deluxe-form {
    background: transparent;
    padding: 4px 5px 4px 5px;
    border: none;
  }
  input.autocomplete-deluxe-form-single {
    width: 90%;
    border: none;
    background-color: color.apply($sat-factor: math.div(1, 4), $lum-factor: math.div(1, 3));
  }
}
.autocomplete-deluxe-search {
  margin: 0px 0px 4px 0px;
  padding: 3px 4px;
  position: relative;
  white-space: nowrap;
  z-index: 1010;
}
span.autocomplete-deluxe-value-delete {
  display: inline-block;
  float: right;
  background: url('x.gif') no-repeat center;
  width: 18px;
  width: 18px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
.autocomplete-deluxe-single-open {
  border: 1px solid #aaa;
  box-shadow: 0 1px 0 #fff inset;
  background-color: color.apply($sat-factor: math.div(1, 4), $lum-factor: math.div(1, 3));

  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
div.autocomplete-deluxe-multiple {
  margin: 0;
  padding: 5px;
  width: 100%;
  cursor: text;
}

input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
  border: none;
  width: 25px;
  margin: 0.3em;
  float: left;
}
/* div.autocomplete-deluxe-throbber {
	width: 16px;
	float: right;
	height: 50%;
}
.autocomplete-deluxe-closed {
	background: url("../images/throbber.gif") no-repeat 100% 6px;
}
.autocomplete-deluxe-open {
	background: url("../images/throbber.gif") no-repeat 100% -14px;
} */
.autocomplete-deluxe-item {
  float: left;
  margin: 0.3em;
  // @extend %tag;
  cursor: move;

  display: flex;
}
.autocomplete-deluxe-item-delete {
  background: color.apply(body);
  height: 1rem;
  width: 1rem;
  margin-left: 0.4em;
  z-index: 1000;
  &:hover {
    background: color.apply(error);
  }
}
.autocomplete-deluxe-item-focus {
  background: none repeat scroll 0 0 #d4d4d4;
}

.autocomplete-deluxe-highlight-char {
  color: $color_5;
  font-weight: bold;
}
[dir='rtl'] {
  span.autocomplete-deluxe-value-delete {
    float: left;
  }
  div.autocomplete-deluxe-multiple {
    padding: 4px 5px;
  }
  input.autocomplete-deluxe-form.autocomplete-deluxe-multiple {
    margin-left: 0;
    margin-right: 5px;
    float: right;
  }
  div.autocomplete-deluxe-throbber {
    float: left;
  }
  .autocomplete-deluxe-closed {
    background-position: 0 6px;
  }
  .autocomplete-deluxe-open {
    background-position: 0 -14px;
  }
  .autocomplete-deluxe-item {
    float: right;
    margin: 3px 5px 3px 0;
    padding: 3px 5px 3px 20px;
  }
  .autocomplete-deluxe-item-delete {
    position: absolute;
    right: auto;
    left: 3px;
  }
}
