@use "color";

[data-drupal-selector*='bulk-form-extended'] {
  display: flex;
  --hue: var(--hue-warning);
  --i: var(--i-s);

  .form-actions {
    input:not(:first-child) {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
    }
  }

  @media print {
    display: none;
  }
}
