@use "color";
@use "gap";

.diff-header,
.diff-controls {
  background-color: color.apply("background-alt");
  padding: gap.apply(s);
}
ins {
  background-color: color.apply($alpha: 0.4);
}

table.diff {
  td {
    &.field-name {
      background: none;
      // @extend label;
      margin-top: gap.apply();
    }

    &.diff-deletedline {
      background-color: color.apply(error, $alpha: 0.1);
      span.diffchange {
        background: none;
        color: color.apply(error, $lum-prefix: "body");
      }
    }
    &.diff-addedline {
      background-color: color.apply(status, $alpha: 0.1);
      span.diffchange {
        background: none;
        color: color.apply(status, $lum-prefix: "body");
      }
    }
  }
}
