@use "color";
@use "sass:math";
@use "frame";
@use "navigation";

.dropdown-content {
  @extend %frame-dark-gap;

  contain: layout;
  position: absolute;
  z-index: 501;
  width: 86vw;
  max-width: 32rem;

  > *:first-child {
    margin-top: 0;
  }

  nav {
    > ul {
      flex-direction: column;
    }
  }

  .no-js & {
    display: none;
  }
}

.dropdown-wrapper {
  position: relative;

  > .dropdown-content {
		visibility: hidden;
  }

  > a {
		@extend %button-shape;
  }

  &:is(:hover, :focus-within) {
		> :is(a, button, .button) {
			border-color: transparent;
      background-color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(2, 3));
    }

    > .dropdown-content {
      visibility: visible;
    }
  }
}
