@use "color";

.widget-geofield-map {
    width: 100%;
    legend {
        display: none;
    }
    fieldset {
        padding: 0;
        border: none;
    }
    .fieldset-wrapper {
        display: block;
    }
}