@use "color";
@use "sass:math";

li.menu-item--active-trail > a {
  background-color: color.apply(i, $hue-prefix: null, $lum-factor: math.div(2, 3));
  i {
    color: color.apply(i, $hue-prefix: null);
  }
}