@use "color";

.page-load-progress-lock-screen {
  background-color: color.apply(background, $alpha: 0.7);
}
/* .page-load-progress-throbber {
  height: 64px;
  width: 64px;
  margin-left: -32px;
  margin-top: -32px;
} */