@use "gap";
// @todo Split

:is(.paragraph-form, .paragraphs-subform) {
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  gap: 0.4em;

  > .widget-string-textfield {
    flex-grow: 1;
  }

  > .widget-text-textarea {
    flex: 100%;
  }

  .form-type-physical-measurement {
    display: flex;
    align-items: end;
  }
}

.paragraphs-add-wrapper {
  margin-top: gap.apply();
}

.paragraphs-add-dialog {
  --hue: var(--hue-paragraph);
}

.layout>form>.widget-paragraphs {
  margin: 0;
}

// Extra formats for some pure paragraph-fields
[class*='field--name-field-vars-'] {
  flex: 30%;

  .tabledrag-toggle-weight-wrapper {
    display: none;
  }
}
