@use "color";
@use "sass:math";
@use "frame";

.toastify.toastify--info {
  @include color.inject('info');
}

.toastify.toastify--status {
  @include color.inject('status');
}

.toastify.toastify--warning {
  @include color.inject('warning');
}

.toastify.toastify--error {
  @include color.inject('error');
}

.toastify {
  // Content of '@extend %frame-dark;' but has @important
  border: var(--border);
  border-radius: var(--radius);
  border-color: color.apply($lum-factor: math.div(2, 3));
  background: color.apply("background-alt", $hue-prefix: null, $lum-factor: math.div(5, 4))!important;

  .toast-close {
    background: color.apply($lum-factor: math.div(1, 2));
  }
  .toast-progress {
    background-image: unset;
    background-image: linear-gradient(to right, color.apply($lum-factor: math.div(2, 3)), color.apply());
  }
}