@use "color";
@use "frame";
@use "shadow";

.tour-button,
.shepherd-content {
	--hue: var(--hue-status);
}

.shepherd-element,
.shepherd-arrow::before {
	background: color.apply("background-alt");
}

.shepherd-target {
	--hue: var(--hue-status);
	--sat-background: calc(var(--sat-background) * math.div(3, 2));

	@extend %frame-base;
	background-color: color.apply("background-alt", $hue-prefix: null);
	box-shadow: glow();
}