@use "gap";

form.webform-submission-form {
  padding: gap.apply(m, 0.2);

  [data-webform-key='begin'] {
    ~ .form-actions {
      input#edit-draft {
        display: none;
      }
    }
  }

  [data-drupal-selector='edit-form'] {
    margin-bottom: gap.apply(l);
  }
}
