@use "color";
@use "gap";

.progress-step {
  &:not(:last-child)::after {
    // Reset z-index: -10;
    z-index: inherit;
  }
}


.webform-progress-tracker {
  &.progress-tracker {
    margin-bottom: gap.apply(xl);
  }

  .progress-step {
    &:is(.is-active, .is-complete) {
      .progress-marker {
        background-color: color.apply();
      }

      .progress-text {
        color: color.apply($lum-prefix: "body");
      }
    }

    &.is-complete::after {
      background-color: color.apply();
    }
  }
}