nav#breadcrumbs {
  ol {
    display: flex;
    flex-wrap: wrap;
  }
  li {
    &::after {
      content: ">";
      position: relative;
      left: 0;
      margin-right: 0.3em;
    }
    &:last-child {
      &::after {
        content: "";
      }
    }
  }
}
