.contextual .trigger {
  width: 1.5em !important;
  height: 1.5em !important;
  background-size: 0.8em 0.8em;

  @media (width >= 120ch) {
    width: 2.0em !important;
    height: 2.0em !important;
    background-size: 1em 1em;
  }
}