@use "sass:math";
@use "color";
@use "gap";
@use "navigation";

.contextual {
    position: absolute;
    z-index: 500;
    top: gap.apply(s) !important;
    right: gap.apply(s) !important;

    [dir="rtl"] & {
        right: auto;
        left: gap.apply(s);
    }

    @media print {
        display: none !important;
    }
}

.contextual-region.focus {
    outline: medium dotted;
    outline-color: color.apply($sat-factor: math.div(1, 3));
    outline-offset: 2px;
}

.contextual {
    .trigger {
        align-self: flex-end;
        cursor: pointer;
    }

    &.open {
        .trigger {
            z-index: 2;
            border: var(--button-border);
            border-bottom-color: transparent;
            border-radius: var(--radius) var(--radius) 0 0;
            box-shadow: none;
        }
    }
}

.contextual-region .contextual .contextual-links {
    @extend %ul-nav;
    // Hardcoded but got no motivation to make it better now
    min-width: calc(var(--i) * 7);

    position: relative;
    top: -3px;

    margin: 0;
    background-color: color.apply(i, $hue-prefix: null);

    i {
        color: white !important;
    }

    border: var(--border);
    border-color: color.apply();

    border-top-right-radius: 0;

    [dir="rtl"] & {
        border-top-left-radius: 0;
    }
}