@use "color";
@use "gap";

.delta-order {
  max-width: 3rem;
}

.field-multiple-drag {
  width: 1.2rem;

  border-left: medium solid;
  border-color: color.apply(body, $alpha: 0.2);

  margin-right: gap.apply(s);

  @media (width < 500px) {
    // thumb friendly
    width: calc1cm;
  }
}

a.tabledrag-handle {
  cursor: move;

  .handle {
    background: url(../../../images/move.svg) no-repeat center;
    // background-color: color.apply(body);

    width: 1.2rem;
    height: 1.5rem;

    @media (width < 500px) {
      // thumb friendly
      width: 1cm;
      height: 1cm;
    }
  }

  &:hover,
  &:focus {
    .handle {
      background: url(../../../images/move-active.svg) no-repeat center;
    }
  }
}

table.field-multiple-table td {
  padding: unset;

  input {
    margin-block: gap.apply(xs);
  }
}
