// topbar Admin Push
$topbar-height: 3.5rem;
$toolbar-height: 2.4rem;
$tray-height: 2.5rem;

body.toolbar-fixed {
    // ...We force the top-margin of the Foundation-toolbar.
    #topbar.is-stuck {
        margin-top: $toolbar-height !important;
    }
    // When there's the admin-toolbar with open tray in horizontal orientation ...
    &.toolbar-tray-open.toolbar-horizontal {
        // ...We force the top-margin of the Foundation-toolbar some more
        #topbar.is-stuck {
            margin-top: $toolbar-height + $tray-height !important;
        }
    }
}
