@use "gap";
@use "color";

form.views-exposed-form {

  .form-item-sort-by,
  .form-item-sort-order,
  .form-item-items-per-page {
    select {
      --hue: var(--hue-background-alt);
    }
  }

  // reset most values
  legend {
    margin: inherit;
    line-height: unset;
    font-size: var(--h3);
  }

  @media print {
    display: none;
  }

  .sticky-form & {
    position: sticky;
    top: 0;
    z-index: 1;

    background: color.apply(background);
    padding: gap.apply(s);
  }
}
