@use "color";
@use "sass:math";

// RESET
.ui-widget {
  font-family: inherit;
  font-size: var(--i);

  :is(input, select, textarea, button) {
    font-family: inherit;
    font-size: var(--i);
  }
}

.ui-widget-header {
  background: inherit;
  border: none;
}
// End RESET

.ui-widget {
  &.ui-widget-content {
    border: thin solid;
    border-color: color.apply();
  }
}

.ui-widget-header {
  color: color.apply(header);
}

.ui-widget-content {
  background-color: color.apply('background-alt', $hue-prefix: null);
  color: color.apply(body);

  a {
    color: color.apply(body, $lum-factor: math.div(3, 2));
  }

  .ui-state-active {
    background-color: color.apply();
  }
}
