nav#breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
}
nav#breadcrumbs li::after {
  content: ">";
  position: relative;
  left: 0;
  margin-right: 0.3em;
}
nav#breadcrumbs li:last-child::after {
  content: "";
}
