.contextual .trigger {
  width: 1.5em !important;
  height: 1.5em !important;
  background-size: 0.8em 0.8em;
}
@media (width >= 120ch) {
  .contextual .trigger {
    width: 2em !important;
    height: 2em !important;
    background-size: 1em 1em;
  }
}
