.contextual-region .contextual .contextual-links {
  list-style: none;
  padding-inline-start: unset;
  margin: unset;
}
.contextual-region .contextual .contextual-links a {
  display: block;
  padding: 0.3em 0.5em;
  color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 1.5));
}
.contextual-region .contextual .contextual-links a i {
  color: hsl(var(--hue), calc(var(--sat-i) * 0.5), var(--lum-i));
}
.contextual-region .contextual .contextual-links a:is(:hover, :focus, .active, .is-active) {
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
.contextual-region .contextual .contextual-links a:is(:hover, :focus, .active, .is-active) i {
  color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

.contextual {
  position: absolute;
  z-index: 500;
  top: calc(var(--gap) * 1/2) !important;
  right: calc(var(--gap) * 1/2) !important;
}
[dir=rtl] .contextual {
  right: auto;
  left: calc(var(--gap) * 1/2);
}
@media print {
  .contextual {
    display: none !important;
  }
}

.contextual-region.focus {
  outline: medium dotted;
  outline-color: hsl(var(--hue), calc(var(--sat) * 0.3333333333), var(--lum));
  outline-offset: 2px;
}

.contextual .trigger {
  align-self: flex-end;
  cursor: pointer;
}
.contextual.open .trigger {
  z-index: 2;
  border: var(--button-border);
  border-bottom-color: transparent;
  border-radius: var(--radius) var(--radius) 0 0;
  box-shadow: none;
}

.contextual-region .contextual .contextual-links {
  min-width: calc(var(--i) * 7);
  position: relative;
  top: -3px;
  margin: 0;
  background-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
  border: var(--border);
  border-color: hsl(var(--hue), var(--sat), var(--lum));
  border-top-right-radius: 0;
}
.contextual-region .contextual .contextual-links i {
  color: white !important;
}
[dir=rtl] .contextual-region .contextual .contextual-links {
  border-top-left-radius: 0;
}
