.delta-order {
  max-width: 3rem;
}

.field-multiple-drag {
  width: 1.2rem;
  border-left: medium solid;
  border-color: hsl(var(--hue-body), var(--sat-body), var(--lum-body), 0.2);
  margin-right: calc(var(--gap) * 1/2);
}
@media (width < 500px) {
  .field-multiple-drag {
    width: calc1cm;
  }
}

a.tabledrag-handle {
  cursor: move;
}
a.tabledrag-handle .handle {
  background: url(../../../images/move.svg) no-repeat center;
  width: 1.2rem;
  height: 1.5rem;
}
@media (width < 500px) {
  a.tabledrag-handle .handle {
    width: 1cm;
    height: 1cm;
  }
}
a.tabledrag-handle:hover .handle, a.tabledrag-handle:focus .handle {
  background: url(../../../images/move-active.svg) no-repeat center;
}

table.field-multiple-table td {
  padding: unset;
}
table.field-multiple-table td input {
  margin-block: calc(var(--gap) * 1/3);
}
