form.views-exposed-form .form-item-sort-by select,
form.views-exposed-form .form-item-sort-order select,
form.views-exposed-form .form-item-items-per-page select {
  --hue: var(--hue-background-alt);
}
form.views-exposed-form legend {
  margin: inherit;
  line-height: unset;
  font-size: var(--h3);
}
@media print {
  form.views-exposed-form {
    display: none;
  }
}
.sticky-form form.views-exposed-form {
  position: sticky;
  top: 0;
  z-index: 1;
  background: hsl(var(--hue-background), var(--sat-background), var(--lum-background));
  padding: calc(var(--gap) * 1/2);
}
