.white {
  --sat: 5%;
  --lum: 95%;
  --lum-font: 5%;
}

.black {
  --sat: 5%;
  --lum: 5%;
  --lum-font: 95%;
}

.sat-low {
  --sat: 5% !important;
  --sat-i: 5% !important;
}

.sat-medium {
  --sat: 50% !important;
  --sat-i: 50% !important;
}

.sat-high {
  --sat: 95% !important;
  --sat-i: 95% !important;
}

.status {
  --hue: var(--hue-status);
}

.warning {
  --hue: var(--hue-warning);
}

.error {
  --hue: var(--hue-error);
}
