.dropbutton-action a {
  display: inline-block;
  text-align: center;
  padding: var(--form-padding);
  border-radius: var(--radius);
}

.dropbutton-action a {
  cursor: pointer;
  text-decoration: none;
  color: hsl(var(--hue-body), var(--sat-body), calc(var(--lum-body) * 1.25));
  border: var(--button-border);
  border-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
  background-color: hsl(var(--hue), var(--sat-i), calc(var(--lum-i) * 0.6666666667));
}
.dropbutton-action a:hover {
  text-decoration: none;
  color: hsl(var(--hue-body), var(--sat-body), calc(var(--lum-body) * 1.25));
  background-color: hsl(var(--hue), var(--sat-i), var(--lum-i));
}

.dropbutton-widget {
  translate: 0 -50%;
  top: 50%;
}

.delete {
  --hue: var(--hue-error);
}

.dropbutton-multiple {
  padding-right: 0;
  margin-right: 5rem;
}
