label {
  display: block;
}
.label-hidden > label {
  display: none;
}
.label-inline > label {
  display: inline;
}
.label-inline > label::after {
  content: ":";
  margin-right: 0.1em;
}
.label-inline > label + .items {
  display: inline;
}
.label-above > label {
  margin-bottom: 0.2em;
}
