@use "color";
@use "sass:math";

[id*="add-more-wrapper"] {
  width: 100%;

  >fieldset {
    display: block;
  }
}

.item-suf-pref {
  display: flex;
  align-items: center;
}

:is(.field-prefix, .field-suffix) {
  font-size: var(--i);
  // font-weight: bold;
  margin: 0.3em;
}

input {
  &[disabled="true"]+label {
    opacity: 0.6;
  }

  &[hidden="true"]+label {
    display: none;
  }

  &[value^="- Restricted access - "] {
    pointer-events: none;
    color: color.apply($lum-factor: math.div(1, 2));
  }
}

.fieldset-wrapper {
  display: flex;
  align-items: end;

  >.form-item {
    &:first-child {
      flex-grow: 1;
    }

    /* &[class$="-max"] {
      // &.js-form-type-date + .js-form-type-date {
      margin-left: 0.4em;
    } */
  }
}
