@use "gap";
@use "color";

form {
  accent-color: color.apply();

  &:not(:is(.full, .quickedit-field-form)) {
    display: flex;
    flex-wrap: wrap;
    align-items: end;
    gap: gap.apply(xs) gap.apply(s);

    margin-bottom: gap.apply();

    >details {
      flex: 100%;
    }
  }


  label:not(.option) {
    font-size: var(--i);
    margin-bottom: 0.2em;
  }

  >.layout {
    &.fieldset {
      display: flex;
      flex-wrap: wrap;
      align-items: end;
      gap: gap.apply();
    }
  }
}
