@use "color";
@use "sass:math";
@use "gap";
@use "shadow";

.form-item--error {
  @include color.inject("error");
}

input.error:not(.button) {
  box-shadow: glow();
  border: var(--border);
  color: color.apply(i, $hue-prefix: null);
}

.form-item--error-message {
  padding: gap.apply(s);
  
  font-size: var(--i-s);
  color: color.apply();
  background-color: color.apply("background-alt", $hue-prefix: null, $lum-factor: math.div(3, 2));
}